.floating-lines-container {
  position: fixed;     
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  z-index: 1;          
  overflow: hidden;

  pointer-events: none;  
  background-repeat: repeat-y;
}
