html , body {
    margin: 0;
    padding: 0;
}

/* Colors for Btn || DO NOT DELETE */
.btn-glass-purple {
  background: rgba(139, 92, 246, 0.15);
  border: 1px solid rgba(139, 92, 246, 0.6);
  color: white;
}

.btn-glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
}

.btn-outline-neon {
  background: transparent;
  border: 2px solid #3B82F6;
  color: white;
}

.btn-grad-purple {
  background: linear-gradient(135deg, #8B5CF6, #EC4899);
}

.btn-grad-blue {
  background: linear-gradient(135deg, #3B82F6, #06B6D4);
}

.btn-grad-teal {
  background: linear-gradient(135deg, #14B8A6, #22C55E);
}

.btn-teal   { background: #14B8A6; }
.btn-gold   { background: #F59E0B; color: black; }
/* END OF COLROS */


.page-container {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    position: relative;
    z-index: 2;
}

.page-header {
    position: absolute;
    font-family: 'Pirata One', Verdana, Geneva, Tahoma, sans-serif;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    z-index: 3;
}

.form-container {
    width: 950px;
    max-width: 95%;
    padding: 40px 30px;

    background-color: rgba(255,255,255,0.12);
    border-radius: 18px;

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,0.25);

    box-shadow: 0 10px 30px rgba(0,0,0,0.25);

    text-align: center;
}

.subtitle {
    font-size: 1.6rem;
    color:rgba(255,255,255,0.8);
    padding-bottom: 20px;
    }

.animation-container {
    height: 250px;
    width: 250px;
    margin: 30px auto;
}

.btn {
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    transition: 0.25s ease;
    cursor: pointer;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 18px rgba(255, 255, 255, 0.25);
  filter: brightness(1.1);
}


.choice-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 25px 0;
}

.final-coin {
  height: 250px;
  width: 250px;
  margin: 20px auto;
}