*{
    margin: 0;
    padding: 0;
}

.navbar {
    height: 70px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}



.nav-logo {
    height: 80px;
    width: 80px;
    margin-left: 20px;
    cursor: pointer;
}

.navbar {
    position: relative;
    z-index: 2;
}

.nav-left {
    display: flex;
    align-items: center;
}


.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.social-icons {
    position : absolute;
    top: 20px;
    right: 30px;

    display: flex;
    gap: 18px;
    z-index: 5;
}

.social-icons a {
    width: 42px;
    height: 42px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: rgba(20, 19, 19, 0.8);
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    font-size: 18px;
    text-decoration: none;
    transition: all 0.25s ease;
}

.social-icons a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
    transform: scale(1.1);
}