* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.app-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}


.content-layer {
  position: relative;
  z-index: 2;
}
